<!-- <h1>Various ways of Data Binding</h1>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        String Interpolation        
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Property Binding
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Event Binding
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Two way Binding
    </li>
</ul> -->
<!-- <div>Test Div</div>
<string-interpolation></string-interpolation> -->
<!-- <property-binding></property-binding> -->
<!-- <event-binding></event-binding> -->
<!-- <twoway-binding></twoway-binding> -->
<temp-proucts></temp-proucts>

<products></products>
