<div class="container">
  <h3>Products List</h3>

  <div class="row" style="margin-bottom: 20px;">
    <div class="col-md-2">
      Filter Product
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" [(ngModel)]="filterText" placeholder="Enter Filter Text">
    </div>

    <div class="col-md-3">
      <div *ngIf="filterText.length>0" class="alert alert-info" role="alert">
        <strong>{{filterText}}</strong>
      </div>
    </div>

    <div class="col-md-3">
      <button type="button" class="btn btn-primary" (click)="AddProduct()">Test Impurity</button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let prod of products | filter : filterText: 'productName'" class="col-md-4">
      <product-thumbnail [prod]="prod" (parentData)="ChildDataReceived($event)"></product-thumbnail>
    </div>
  </div>

  <!-- <div class="alert alert-danger">
    {{products | json}}
  </div> -->
</div>